.layout{
    /* background-image: url(../../assets/nrd-D6Tu_L3chLE-unsplash\ \(2\).jpg); */
    background-image: url(../../assets/gemma-c-stpjHJGqZyw-unsplash.jpg);
    height: 100dvh;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}